<div class="card" [formGroup]="frmOffertHeaderDetail">
  <div class="card-header d-flex justify-content-between">
    <span class="col-2"> HelpDesk</span>
    <span>
  </span>
  </div>
  <div class="card-body flex-fill fill">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <a href="#" class="breadcrumb-item" (click)="btnResetOnClick($event)">Home</a>

        <li *ngFor="let item of b; let i=index" class="breadcrumb-item" [ngClass]="{'active': i===b.length-1}">
          <ng-container [ngSwitch]="i<b.length-1">
            <span *ngSwitchCase="false">{{item.Label}}</span>
            <span *ngSwitchDefault><a href="#" (click)="onClickBreadItem($event, item); onClickHandler($event, item)">{{item.Label}}</a></span>
          </ng-container>

        </li>
      </ol>
    </nav>

    <app-button-helpdesk [resetButtonClicked]="resetClicked" [rowData]="(rowData$|async)!"></app-button-helpdesk>
    <!-- <div class="col-12" [formGroup]="frmLabel">
      <div class="form-row "> -->
      <!-- <div class="col-12"> -->

      <!-- </div> -->
        <!-- <div class="col-6 col-lg-3 col-xl-3 mb-3" [ngClass]="{'col-12 col-lg-6 col-xl-12': item.Ico.trim()===''}"
          *ngFor="let item of (rowData$ | async)!|buttonfilter:level:idParent:id; let i=index ">
          <ng-container [ngSwitch]="item.Ico.trim()===''">
            <span *ngSwitchCase="true">
              <app-button-answer class="col-6" formControlName="Check" [Label]="item.Label" [CheckName]="i.toString()"></app-button-answer>
            </span>
            <span *ngSwitchDefault>
              <app-button-helpdesk [Label]="item.Label" [IcoName]="['fas',item.Ico]"
              (onCliCkButton)="onClickHandler($event, item)"> </app-button-helpdesk>
            </span>
          </ng-container>
        </div> -->
      <!-- </div>
    </div> -->
  </div>
  <div class="card-footer">
    <div></div>
    <div class="d-flex justify-content-end " style="gap:0.25rem">
      <button type="submit" class="btn btn-warning btn-sm mr-1" (click)="btnResetOnClick($event)"
        *ngIf="showBtnReset">Reset</button>
      <button type="submit" class="btn btn-secondary btn-sm mr-1" (click)="btnAnnullaOnClick($event)">Annulla</button>
      <button [disabled]="disabledSave" type="submit" class="btn btn-primary btn-sm mr-1" *ngIf="showBtnSave"
        (click)="btnSalvaOnClick($event)">Salva</button>
    </div>
  </div>
</div>



<!-- <pre> {{rowData$ | async | json}}</pre> -->

<!-- <pre>{{rowdatalevel$|async|json}} </pre> -->

<router-outlet></router-outlet>
